#star {
    width:500px;
    max-width: 90%;
    margin:1%;

    .content {
        font-size: 1.7rem;
        line-height: 1.5;
        background: #ffad42d5;
        color:blue;
        border:2px dashed #ffff00;

    }
}